<!DOCTYPE html>
<html>


{% block content %}
<head>
    <title>Stocks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<center>
<img src="/static/images/logo.png" class="img-rounded" alt="Logo">
</center><br><br><br>
<div class="container">
    <div class="row">
    {% if user.is_authenticated %}
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'index' %}">Stocks</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stockMetric' %}">Stock Metrics</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user' %}">Users</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div><br><br>

    <h2>Stock Metrics</h2><hr>
    <span>Stock Metrics is a cloud based stock analysis tool for traders. It fetches from a list of 8,000 stocks across the Nasdaq, and NYSE exchanges and performs Support Vector Regression based machine learning on historical values to forecast the open, close, high, low, and volume of the next business day for each stock our database.</span><br><br><br>
    <h2>Account Details</h2><hr><br>
    <span style="font-weight: 800">Funds Available: <a style="font-weight: 600">$1000.00</a></span><br>
    <span style="font-weight: 800">Portfolio Value: <a style="font-weight: 600;"> $2680.00</a></span><br>
    <span style="font-weight: 800">Net Profit/Loss: <a style="color:green; font-weight: 600;"> $486.12</a></span><br><br><br>
    <h2>Stock Data</h2>

<div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">

    <thead>
        <tr>
            <th>Title</th>
            <th>Stock ID</th>
            <th>Volume</th>
            <th>Buy Price</th>
            <th>Sell Price</th>


        </tr>
    </thead>
    <tbody>
    {% for i in all_stocks %}
        <tr>
            <td>
                {{ i.title }}
            </td>
            <td>
                {{ i.stock_id }}
            </td>
            <td>
                {{ i.volume }}
            </td>
            <td>
                {{ i.buy_price }}
            </td>
            <td>
                {{ i.sell_price }}
            </td>

            </tr>
            {% endfor %}

    </tbody>
    </table>
    </div>
    </div><br><br>

    {% else %}
    <span><a href="{% url 'login'%}">You are not logged in. Click here to Login</a></span>
   {% endif %}
</div>


{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>

</html>
