<!DOCTYPE html>
<html lang = "en">
{% block content %}

<head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<center>
<img src="/static/images/logo.png" class="img-rounded" alt="Logo">
</center><br><br><br>
<div class="container">
    <div class="row">
    
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Stocks</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'portfolio' %}">Portfolio</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'stockMetric' %}">Stock Metrics</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user' %}">Users</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div><br><br>

    <div class="row">
            <div class="col-lg-12">
            {% if infos %}
                <table class="table table-striped">

        <thead>
            <tr>
                <th>Symbol</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
                

            </tr>
        </thead>
        <tbody>
        {% for i in infos %}
            <tr>
            {% for j in sym %}
                <td>
                    {{ j }}
                </td>
                {% endfor %}
                <td>
                    {{ i.Open }}
                </td>
                <td>
                    {{ i.High }}
                </td>
                <td>
                    {{ i.Low }}
                </td>
                <td>
                    {{ i.Close }}
                </td>
                <td>
                    {{ i.Volume }}
                </td>
                
                </tr>
                {% endfor %}

        </tbody>
        </table>
        </div>
        </div><br><br>
        {% endif %}
        <form method="post" action="{% url 'portfolio' %}" class="form-inline">
    <div class="form-group ">
    <span>Enter Symbol:</span>&nbsp;&nbsp;
    {% csrf_token %}<br>
    {% for field in form %}
        {{ field.errors }}
        {{ field }}
    {% endfor %}
    <input type="submit" 
           class="btn btn-success" placeholder="Symbol...(GOOG, NKE, NVDA..)">
    </div>
</form>

<br><br>
<span style="color:red;">Errors are not being handled currently so please enter a valid stock symbol like AAPL, MSFT, FIT, GOOG, NVDA for now. Invalid symbol will result in the breakage of page.</span>
{% endblock  %}

        




</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>


</html>
