<!DOCTYPE html>
<html>


{% block content %}
<head>
    <title>Stock Metrics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<center>
<img src="/static/images/logo.png" class="img-rounded" alt="Logo">
</center><br><br><br>
<div class="container">
    <div class="row">{% if user.is_authenticated %}
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Stocks</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'stockMetric' %}">Stock Metrics</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user' %}">Users</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div><br><br>

<div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">

    <thead>
        <tr>
            <th>Stock Name</th>
            <th>Metric Title</th>


        </tr>
    </thead>
    <tbody>
    {% for i in all_metrics %}
        <tr>
            <td>
                {{ i.StockName }}
            </td>
            <td>
                {{ i.Metric_Title }}
            </td>

            </tr>
            {% endfor %}

    </tbody>
    </table>
    </div>
    </div><br><br>
    {% else %}
    <span><a href="{% url 'login'%}">You are not logged in. Click here to Login</a></span>
   {% endif %}
</div>


{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>

</html>
